@import "~bootstrap/scss/mixins/forms";

#sidebar {
    h2 {
        font-size: 18px;
    }
}

.announcement-feed h2 {
    font-size: inherit;
    font-weight: bold;

    i {
        color: #b0b8b8;
        font-size: 90%;
        font-weight: normal;
        padding-left: 5px;
    }
}

.node-readmore a::after, .learn-more::after {
    content: ">";
    font-family: "glyph";
    font-size: 80%;
    font-weight: bold !important;
    vertical-align: middle;
    padding-left: 1em;
}
