/**
 * Aether SASS
 * Copyright (C) 2017 Ken Vermette
 * Copyright (C) 2019 Carl Schwan <carl at carlschwan dot eu>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: #31363b;
}

p {
    margin: 0 0 1em;
}

p + p {
    margin-top: 10px;
}

a {
    text-decoration: none !important;
    color: #3b85b5;
}

a:hover {
    color: #3daefd;
}

main h1 {
    display: block;
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

main h2 {
    font-size: 22px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

main h3 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

main h4 {
    font-size: 18px;
    font-weight: normal;
    color: #536161;
    margin: 20px 0 0;
}
n 
main h5 {
    font-size: 16px;
    font-weight: normal;
    color: #536161;
    margin: 15px 0 0;
}

main h6 {
    font-size: 15px;
    font-weight: normal;
    color: #536161;
    margin: 10px 0 0;
}

main section {
    margin-top: 20px;
}

main:after {
    content: "";
    display: block !important;
    height: 40px;
    margin: 40px 10px 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: contain;

    background-image: url("data:image/svg+xml;utf8,<svg width='100' height='70' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 100 70'><g fill-rule='evenodd' transform='translate(0 -982)'><path fill='%23ffa92d' d='m53.7 1e3 0.656-2.62-2.53-2.72 0.562 6.75z'/><path fill='%23f58273' d='m74.1 1.02e3s3.37 4.03 8.44 2.16c5.06-1.88 11.6-4.22 11.6-4.22s-1.97-1.03-4.12-2.72c-2.16-1.69-4.69-1.22-4.69-1.22s2.44-1.31 3.19-4.88c0.75-3.56 0.844-8.25 0.844-8.25s-14.5 9.84-15.3 19.1z'/><path d='m84.8 992c0.802-1.87 3.71-6.56-0.421-5.95-2.6 1.68-2.9 5.16-3.52 7.94-0.143 1.09-3.16-2.93-4.11 0.079-0.593 1.67 2.34 3.51 0.538 5.59-0.517 1.63-1.11 3.25-2.81 1.67-6.14-2.92-13.9-4.76-20.1-1.07-6.23 3.76-10.3 11.8-7.94 19 2.53 4.67 8.59 7.12 13.7 5.68-1.12 1.04 0.0138 3.82-1.49 1.64-2.31-1.14 0.602 3.17-1.45 1.29-2.62-0.896-0.566 2.57 0.91 2.71-1.61 4.03 6.66-1.4 3 2.28-2.06 2.78-4.67 5.3-5.87 8.6 0.358 1.69-2.61 5.71 1.07 4.64 3.23-0.762 6.21-2.43 9.5-1.17 2.85 0.226 5.75 0.346 8.58-0.11 2.1 2.4 5.36 3.31 7.31 5.85 2.63 1.62 0.965-3.78 0.985-5.22-0.634-2.13-0.789-3.62 1.82-3.73 3.74-1.29 4.4-5.6 6.84-8.23 1.97-2.9 5.56-3.58 8.36-5.31-1.31-2.27-5.93-1.17-8.43-0.78-4.15 0.788-7.96 2.72-12 3.82-3.77 1.47-5.8-2.3-4.14-5.35 0.638-3.29 1.14-6.61 1.61-9.93 3.64-4.43 7.46-8.73 10.8-13.4 1.52-2.85 1.04-6.77-1.08-9.19-0.509-0.518-1.08-0.975-1.7-1.35z' fill='%233bb566'/><path fill='%23f58273' d='m59.4 1.02e3s0.656 2.62 2.53 4.12 5.06 2.06 5.06 2.06 1.12-5.72 2.53-8.91 3.19-7.78 3.19-7.78-6.37 2.81-8.91 5.16c-2.53 2.34-4.41 5.34-4.41 5.34z'/><path fill='%23ffa92d' d='m70.1 1e3 -0.281-3.84 1.5-1.78 0.562 1.41 6.84-11.5-0.281 5.72-4.12 5.72 1.87 0.938-1.69 1.78-1.03-1.41-1.03 1.78v2.25s-0.75-0.094-1.59-0.281c-0.844-0.188-0.75-0.75-0.75-0.75z'/><path fill='%23ffafa5' d='m29.6 998 1.6-1.15-0.448-6.59 2.24 1.47 0.639 4.09 2.17-4.41 2.37 1.02-4.09 8.06z'/><path fill='%2354d883' d='m23.6 996c-4.93-0.0608-9.92 2.75-11.8 7.42-0.985 2.88-1.97 5.77-2.95 8.65 1.64 1.36 3.43 2.58 4.99 4.03 1.67 2.07 4.57 2.07 6.69 3.41 0.767 1.75-0.444 1.79-1.72 1.97-1.03 1.81 1.55 4.15-0.27 6.08-1.12 2.28-2.43 4.45-3.77 6.6-2.33-0.385-5.91-0.826-5.97-3.83 0.0172-1.85-0.915-5.38-2.79-2.54-2.53 2.75-4.01 7.34-1.53 10.6 1.93 2.56 5.03 5.06 8.43 4.22 0.28 2.44-1.32 4.7-0.754 7.09 1.96 2.43 4.67-1.56 6.34-2.77 1.75-1.22 2.6-3.62 4.64-4.32 2.31-0.463 4.98-0.53 7.11 0.395 1.34 2.17 2.92 4.86 5.65 5.34 3.63-0.144-0.691-3.52-0.351-5.4-0.21-2.56-0.666-5.08-1.09-7.61 1.3-0.095-0.271-2.17 1.17-1.81 2 0.408 4.59-2.72 1.53-3.18-2.21-0.568-4.21-1.08-6.48-1.71-2.84-1.04-0.064-5.2-3.07-5.96-0.926-2 1.24-2.88 2.79-3.14 3.65-1.48 7.72-3.47 9.26-7.35 1.09-3.67-0.925-7.45-3.22-10.2-3.16-3.69-7.92-6.08-12.8-5.95z'/><path d='m28.2 1.03e3 1.21-0.576s0.575 1.85 2.49 1.21c1.92-0.639 3.01-1.41 3.01-1.41s1.6 3.07-0.128 4.99-2.75 2.17-2.75 2.17c-1.77-1.57-3.25-3.47-3.84-6.39z' fill='%23ffe5e1'/><path d='m20.5 1.02e3s0.64 1.28 0.32 2.37-1.98 2.37-1.98 2.37-0.896 2.94-2.62 5.37c-0.864 1.22-2 1.41-3.1 1.54-1.02-1.89-2.26-0.822-3.56 0.294 0.234 0.311 0.485 0.579 0.754 0.804-0.0147 0.019-0.0318 0.032-0.0462 0.052-1.41 1.92 3.13 2.56 3.13 2.56s0.575-1.73 5.31-0.96c4.73 0.767 6.33 3.9 12.4 4.35 6.07 0.448 6.33-3.13 6.33-3.13s-2.37-0.895-6.27-5.37-3.39-9.08-3.39-9.08l-7.29-1.15zm-12.5 8.44c-0.292 0.993-0.115 1.86 0.915 2.52 1.51-1.98 0.325-2.24-0.915-2.52z' fill='%23ffafa5'/><path fill='%23ffafa5' d='m14.9 1e3 -3.45-5.05 5.44-4.48-1.85-2.62-5.56 4.73-0.192-5.5-2.94 0.384s1.15 4.67 0.256 7.23c-0.895 2.56-2.37 5.12-2.37 5.12l2.3 1.41 2.94-4.8 3.01 6.52s0.831-0.384 1.66-1.34c0.831-0.959 0.767-1.6 0.767-1.6z'/><path d='m11.9 1e3 -2.08 1.81s-0.904-2.71-1.09-4.16c-0.181-1.45-0.181-3.89-1.72-3.53-1.54 0.362-0.995 6.96-0.995 6.96s-1.45 0.723-2.35-2.08c-0.904-2.8-2.89-3.07-2.44-0.362 0.452 2.71 1.9 4.34 1.9 4.34s-1.36 0.904-1.36 1.99-0.181 1.81-0.181 1.81-0.814 1.18-0.452 2.44c0.362 1.27 2.98 2.98 3.44 2.89 0.452-0.09 1.09 1.54 2.62 2.17 1.54 0.633 3.17 4.43 3.17 4.43l2.53-0.452 1.27-2.89-0.452-2.8z' fill='%2354d883'/><path fill='%23ffe5e1' d='m18.9 1.02e3s0.767 1.21 0.703 2.37c-0.064 1.15-1.09 2.56-1.09 2.56s-5.05 1.28-7.93 0.064c-2.88-1.21-6.2-4.99-4.09-7.16s6.84-4.73 7.93-2.81 1.02 5.95 2.24 5.75c1.21-0.192 2.24-0.767 2.24-0.767z'/></g></svg>");
}

.markdown-output img {
   max-width: 100%; 
}

#cookiebanner {
    display: flex;
    text-align: left;
    background-color: #E3F4F8;
    border-bottom: solid #657187 3px;
    padding: 10px;
    justify-content: space-between;
}

#dismisscookiebanner {
    padding: 5px;
    min-width: 120px;
    align-self: center;
    margin-left: 5px;
}


// For kde.org
.hero {
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
    &.develop {
        background-image: url(../../assets/hero-develop.png);
    }
}

// For mediawiki instance: bugzilla template
.table-bugs-done thead {
    background-color: rgba(39,174,96,0.1);
}

.table-bugs-in-progress thead {
    background-color: rgba(246,116,0, 0.1);
}

.table-bugs-todo thead {
    background-color: rgba(218,68,83, 0.1);
}

/* fix for planet.kde.org */
.eventDateTime--hover.EVENT_DATE_TIME_CLASS.popover {
  display: none;
}
