/**
 * Aether SASS
 * Copyright (C) 2017 Ken Vermette
 * Copyright (C) 2019 Carl Schwan <carl at carlschwan dot eu>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.carousel {
    margin-bottom: 20px;
    .carousel-inner {
        width: 100%;
        height: 100%;
    }

    .carousel-item.dark-text {
        color: #333;
        text-shadow: none;
    }

    .carousel-item {
        color: #EEE;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
        top: 0 !important;
        width: 100%;
        height: 100%;
        padding: 40px 50px;
    }

    .carousel-item > h1 {
        margin: 10px auto;
        text-align: center;
        display: block;
    }

    .carousel-item .alignBottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        padding: 40px 50px;
        text-align: center;
    }

    .carousel-control-prev, .carousel-control-next {
        top: 50%;
        width: 30px;
        height: 100px;
        margin-top: -50px;
        background-color: #FAFAFA;
        opacity: 1;
        font-family: "glyph";
        color: #333;
        padding: 0;
        transition: width .2s;
    }

    .carousel-control-prev:hover, .carousel-control-next:hover {
        width: 50px;
    }

    .carousel-control-prev:before {
        content: "<";
        width: 100%;
        text-align: center;
    }

    .carousel-control-next:before {
        content: ">";
        width: 100%;
        text-align: center;
    }

    .carousel-control-prev {
        border-right: solid 2px #3daefd;
    }

    .carousel-control-next {
        border-left: solid 2px #3daefd;
    }
}

@media (max-width: 1700px) {
    #headerCarousel {
        height: 600px;
    }
}

@media (max-width: 1140px) {
    #headerCarousel {
        height: 500px;
    }
}

@media (max-width: 800px) {
    #headerCarousel {
        height: 400px;
    }
}
