$ButtonBackgroundAlternate: rgb(77, 77, 77);
$ButtonBackgroundNormal: rgb(49, 54, 59);
$ButtonDecorationFocus: rgb(61, 174, 233);
$ButtonDecorationHover: rgb(61, 174, 233);
$ButtonForegroundActive: rgb(61, 174, 233);
$ButtonForegroundInactive: 189, 195, 199;
$ButtonForegroundLink: rgb(41, 128, 185);
$ButtonForegroundNegative: rgb(218, 68, 83);
$ButtonForegroundNeutral: rgb(246, 116, 0);
$ButtonForegroundNormal: rgb(239, 240, 241);
$ButtonForegroundPositive: rgb(39, 174, 96);
$ButtonForegroundVisited: rgb(127, 140, 141);
$DisabledColor: rgb(56, 56, 56);
$DisabledColorAmount: 0;
$DisabledColorEffect: 0;
$DisabledContrastAmount: 0.65;
$DisabledContrastEffect: 1;
$DisabledIntensityAmount: 0.1;
$DisabledIntensityEffect: 2;
$InactiveChangeSelectionColor: true;
$InactiveColor: rgb(112, 111, 110);
$InactiveColorAmount: 0.025;
$InactiveColorEffect: 2;
$InactiveContrastAmount: 0.1;
$InactiveContrastEffect: 2;
$InactiveEnable: false;
$InactiveIntensityAmount: 0;
$InactiveIntensityEffect: 0;
$SelectionBackgroundAlternate: rgb(29, 153, 243);
$SelectionBackgroundNormal: rgb(61, 174, 233);
$SelectionDecorationFocus: rgb(61, 174, 233);
$SelectionDecorationHover: rgb(61, 174, 233);
$SelectionForegroundActive: rgb(252, 252, 252);
$SelectionForegroundInactive: 239, 240, 241;
$SelectionForegroundLink: rgb(253, 188, 75);
$SelectionForegroundNegative: rgb(218, 68, 83);
$SelectionForegroundNeutral: rgb(246, 116, 0);
$SelectionForegroundNormal: rgb(239, 240, 241);
$SelectionForegroundPositive: rgb(39, 174, 96);
$SelectionForegroundVisited: rgb(189, 195, 199);
$TooltipBackgroundAlternate: rgb(77, 77, 77);
$TooltipBackgroundNormal: rgb(49, 54, 59);
$TooltipDecorationFocus: rgb(61, 174, 233);
$TooltipDecorationHover: rgb(61, 174, 233);
$TooltipForegroundActive: rgb(61, 174, 233);
$TooltipForegroundInactive: 189, 195, 199;
$TooltipForegroundLink: rgb(41, 128, 185);
$TooltipForegroundNegative: rgb(218, 68, 83);
$TooltipForegroundNeutral: rgb(246, 116, 0);
$TooltipForegroundNormal: rgb(239, 240, 241);
$TooltipForegroundPositive: rgb(39, 174, 96);
$TooltipForegroundVisited: rgb(127, 140, 141);
$ViewBackgroundAlternate: rgb(49, 54, 59);
$ViewBackgroundNormal: rgb(35, 38, 41);
$ViewDecorationFocus: rgb(61, 174, 233);
$ViewDecorationHover: rgb(61, 174, 233);
$ViewForegroundActive: rgb(61, 174, 233);
$ViewForegroundInactive: 189, 195, 199;
$ViewForegroundLink: rgb(41, 128, 185);
$ViewForegroundNegative: rgb(218, 68, 83);
$ViewForegroundNeutral: rgb(246, 116, 0);
$ViewForegroundNormal: rgb(239, 240, 241);
$ViewForegroundPositive: rgb(39, 174, 96);
$ViewForegroundVisited: rgb(127, 140, 141);
$WMactiveBackground: rgb(49, 54, 59);
$WMactiveBlend: rgb(255, 255, 255);
$WMactiveForeground: rgb(239, 240, 241);
$WMinactiveBackground: rgb(49, 54, 59);
$WMinactiveBlend: rgb(75, 71, 67);
$WMinactiveForeground: rgb(127, 140, 141);
$WindowBackgroundAlternate: rgb(77, 77, 77);
$WindowBackgroundNormal: rgb(49, 54, 59);
$WindowDecorationFocus: rgb(61, 174, 233);
$WindowDecorationHover: rgb(61, 174, 233);
$WindowForegroundActive: rgb(61, 174, 233);
$WindowForegroundInactive: 189, 195, 199;
$WindowForegroundLink: rgb(41, 128, 185);
$WindowForegroundNegative: rgb(218, 68, 83);
$WindowForegroundNeutral: rgb(246, 116, 0);
$WindowForegroundNormal: rgb(239, 240, 241);
$WindowForegroundPositive: rgb(39, 174, 96);
$WindowForegroundVisited: rgb(127, 140, 141);
