/** Aether MediaWiki
 * Copyright (C) 2017 Ken Vermette
 * Copyright (C) 2019 Carl Schwan <carl at carlschwan dot eu>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

footer {
  background-color: #EFF1F1;
  position: relative;
  padding-top: 2px;
  font-size: 12px;

  section {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#kLinks {
  a {
    display: inline;
  }

  nav {
    max-width: 200px;
  }

  a:after {
    content: ' ';
    display: block;
  }
}

#donateAmountField, #donateSubmit, #kMetaStore .button {
  max-width: 100%;
  border: solid 1px rgba(0, 0, 0, .2);
  background-color: #FAFAFA;
  padding: 5px 10px;
  border-radius: 2px;
  background-clip: padding-box;
  position: relative;
  color: #333;
  margin: 0 5px;

  &:focus {
    border-color: #7cbcec;
    background-color: #FFF;
  }
}

#donateSubmit, #kMetaStore .button {
  cursor: pointer;

  &:hover {
    background-color: #FFF;
  }

  &:active {
    background-color: #EEE;
    top: 1px;
  }
}

#kLegal {
  color: #6f8181;

  small {
    min-width: 300px;
  }
}


#kFooterIncome {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: #abf9c7;
  border: solid 1px #7ceca4;
  border-radius: 2px;
  margin-top: 10px;
  padding: 0 !important;

  .center {
    text-align: center;
    width: 100%;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    font-size: 14px;
  }
}

#kDonateForm, #kMetaStore {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#kDonateForm {
  border-right: solid 1px #7ceca4;
}

#kMetaStore .button {
  width: auto !important;
  display: inline-block !important;
}

@media (max-width: 768px) {
  #kFooterIncome {
    flex-direction: column;
  }
  #kDonateForm, #kMetaStore {
    width: 100%;
  }

  #kDonateForm {
    border-right: none;
    border-bottom: solid 1px #7ceca4;
  }
}

