/**
 * Aether SASS
 * Copyright (C) 2019 Carl Schwan <carl at carlschwan dot eu>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
@import "~bootstrap/scss/mixins/breakpoints";

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

.laptop, .phone,
.phone-with-overlay,
.laptop-with-overlay {
    position: relative;
}

.phone-overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 16.5%;
    margin-left: 3.5%;
    width: 92%;
}

.laptop-overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3%;
    margin-left: 8.5%;
    width: 84%;
}

.laptop-with-overlay.bottom-right, .laptop-with-overlay.top-center {
    overflow: hidden;
}

.laptop-with-overlay.top-center {
    .laptop {
        transform-origin: top center;
        transform: scale(2);
    }

    .laptop-overlay {
        margin-top: 5%;
        margin-left: 0;
        width: 100%;
    }
}

.laptop-with-overlay.bottom-right {
    .laptop {
        transform-origin: bottom right;
        transform: scale(2);
    }

    .laptop-overlay {
        margin-top: 0;
        margin-left: 0;
        width: 78%;
    }
}

@include media-breakpoint-down(sm) {
    .laptop {
        display: none;
    }
    .laptop-with-overlay.bottom-right, .laptop-with-overlay.top-center {
        overflow: visible;
    }

    .laptop-with-overlay.bottom-right .laptop-overlay, .laptop-with-overlay.top-center .laptop-overlay, .laptop-overlay {
        position: static;
        margin-left: -40px;
        margin-right: -40px;
        width: calc(100% + 80px);
    }

    .phone-with-overlay, .phone-overlay, .phone {
        z-index: 2
    }

    .laptop-with-overlay {
        z-index: 1;
    }

    .laptop-with-overlay.top-center, .laptop-with-overlay.bottom-right {

    }
}
